 @import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=VT323&display=swap');

 body{
    background-color: #fde2e4;
    font-family: "VT323", monospace;
    color: black;
     margin: 0;
    display: flex;
    flex-direction: column;
  align-items: center;
  justify-content:center ;
  min-height: 100dvh;
  font-size: 25px;
}

#questions-container{
  font-size: 25px;
}

header {
  padding-top: 10px;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

  img {
  width: 300px;
  height: auto;
 }

input{
  font-family: "VT323", monospace;
}
input:hover{
  background-color: #fe5d9f;
}


.question {
  font-size: 20px;
  display: block;
  width: 30dvw;
  height: 16dvw ;
  gap: 20px;
  border: 0;
  align-items: center;
  background-color: #fad2e1;
  
}

button{
   font-family: "VT323", monospace;
   display: inline;
  margin: 20px;
  border-radius: 10px;
}

div:button{
  gap: 10px;
  flex-direction: row;
  justify-content: space-between;
}
button{
  border: 0;
  width: 100px;
  height: 30px;

   
}
button:hover{
 background-color: #fe5d9f;
 
}
#popUp{
  background-color: #fad2e1;
  display: flex;
  flex-direction: column;
  align-items: center;
 visibility: hidden;
   font-size: 20px;
  width: 30dvw;
  height: 16dvw ;
  gap: 20px;
  border: 0;
  margin: 2%;
  
}
footer{
  background-color: #fad2e1;
  border: 0;
     padding: 20px;
  text-align: center;
  width: 100%;
}


