@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=VT323&display=swap');

body {
  background-color: #fde2e4;
  font-family: "VT323", monospace;
  color: black;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
  font-size: 25px;
}

header {
  padding-top: 10px;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

img {
  width: 300px;
  height: auto;
  border-radius: 10px;
}

#questions-container {
  font-size: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.question {
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 600px;
  min-height: 250px;
  padding: 20px;
  border: 0;
  border-radius: 10px;
  background-color: #fad2e1;
}

.question p {
  width: 100%;
  text-align: center;
  margin: 0;
}

input {
  font-family: "VT323", monospace;
  font-size: 20px;
  padding: 5px;
  width: 250px;
}

input:hover {
  background-color: #fe5d9f;
}

.question button {
  font-family: "VT323", monospace;
  font-size: 16px;
  border: 0;
  border-radius: 10px;
  flex: 1;
  height: 50px;
  cursor: pointer;
}

.question button:hover {
  background-color: #fe5d9f;
}

#popUp {
  background-color: #fad2e1;
  display: flex;
  flex-direction: column;
  align-items: center;
  visibility: hidden;
  font-size: 20px;
  width: 500px;
  min-height: 250px;
  padding: 20px;
  border: 0;
  border-radius: 10px;
  gap: 20px;
  margin: 2%;
}

footer {
  background-color: #fad2e1;
  border: 0;
  padding: 20px;
  text-align: center;
  width: 100%;
}
#reset{
   font-family: "VT323", monospace;
  font-size: 16px;
  border: 0;
  border-radius: 10px;
  height: 50px;
  cursor: pointer;
}