body{
    background-color: black;
    font-family: "VT323", monospace;
    color: aliceblue;
     margin: 0;
    display: flex;
   flex-direction: column;
  align-items: center;
  justify-content:center ;
  min-height: 100dvh;
}

header {
  display: flex;
  align-items: center;
  gap: 20px;
}

  img {
  width: 150px;
  height: auto;
}
div{
  background-color: rgb(38, 40, 39);
}